body {
    background-color: rgba(45, 150, 100, 0.65);
}

.header {
    height: 65%;
    width: 100%;
    background-color: rgb(152, 204, 178);
    float: left;
}

nav {
    display:inline;
    width: 70%;
    height: 5em;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display:inline;
    border:2px solid #ccc;
    border-width:1px 0;
    padding: 1em;
    list-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

h1 {
    text-align: center;
}
.nom {
    padding:0.5em;
}
.nav li{
    display: inline-block;
}

.main {
    height: 70%;
    display:inline-block;
}

#moi {
    padding:0.5em;
}

#bio {
    padding:0.5em;
}

#objectifs {
    padding:0.5em;
}

#projets {
    padding:0.5em;
}

footer {
    height: 30%;
    width: 100%;
    display: inline;

}

#contact {
    padding:0.5em;
    display: inline;
}

#contact section {
    display: inline-block;
    width: 49%;
}

#contact h2 {
    text-align: center;
}

label {
    display: block;
    margin: 1em;
}

input {
    width: 20em;
}

form {
    width: 20em;
    height: 30em;
}


a:visited {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}
