

.header {
    height: 65%;
    width: 88%;
    background-color: #F4EBC3;
    float: left;
}

#h1 {
    text-align: center;
}
.nom {
    padding:0.5em;
    display: inline;
}
.nav li{
    display: inline-block;
}

.main {
    height: 70%;
    display:inline-block;
}

#moi {
    padding:0.5em;
}

#bio {
    padding:0.5em;
}

#objectifs {
    padding:0.5em;
}

#projets {
    padding:0.5em;
}

.footer {
    height: 30%;
    width: 100%;
    display: inline;
}

#contact h5 h6 {
    padding:0.5em;
    display: inline-block;
}
