body {
    background-color: rgb(185, 200, 94)
}

.header {
    height: 65%;
    width: 100%;
    background-color: rgb(152, 204, 178);
    float: left;
}

nav {
    display:inline;
    width: 70%;
    height: 5em;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display:inline;
    border:2px solid #ccc;
    border-width:1px 0;
    padding: 1em;
    background-color: rgb(198, 24, 24);
    list-style:none;
}

h1 {
    text-align: center;
}
.nom {
    padding:0.5em;
}
.nav li{
    display: inline-block;
}

.main {
    height: 70%;
    display:inline-block;
}

#moi {
    padding:0.5em;
}

#bio {
    padding:0.5em;
}

#objectifs {
    padding:0.5em;
}

#projets {
    padding:0.5em;
}

footer {
    height: 30%;
    width: 100%;
    display: inline;

}

#contact {
    padding:0.5em;
    display: inline;

}

#contact section {
    display: inline-block;
    width: 49%;
}
